/**
* DESCRIPTION   小熊下载站详情页css文件
* AUTHOR 杜玲玲
* TIME 2022-03-29 
*/

.icons{
    background: url("../image/indexIcons.png");
}
#rjjs .explainBox p span ,#faq .explainBox p span ,#syff .explainBox p span{
    color: #2d333a !important;
    font-weight: 500 !important;
}
#azbz .explainBox p span {
    color: #2d333a;
    font-weight: 500;
}
.explainBox {
    font-size: 19px;
    color: rgb(95, 99, 104);
    line-height: 38px;
    margin: 20px auto 0px;
}
.explainBox p[style="text-align:center;"] {
    text-align: left !important;
}
.main .content .detailBox dl dd p span[style="white-space:normal;"] {
    width: auto;
    color: #8b9296 !important;
}
strong[style="COLOR: rgb(255,0,0); FONT-SIZE: 12px"] {
    color: #8b9296 !important;
    font-size: 16px !important;
    font-weight: 600;
}
/* 软件顶部下载 */
.softDownload{
    width: 100%;
    height: 290px;
    background: url("../image/bg1.png") no-repeat center;
    background-size: cover;
    overflow: hidden;
}
.softDownload .soft{
    width: 710px;
    margin-top: 30px;
}
.softDownload .soft img{
    width: 83px;
    height: 83px;
    border-radius: 10px;
}
.softDownload .soft .softwarename {
    width: 600px;
    font-size: 31px;
    line-height: 42px;
    color: #3c4248;
    font-weight: 500;
    margin-left: 20px;
}
.softDownload .soft h1{
    font-size: 31px;
    line-height: 42px;
    color: #3c4248; 
    font-weight: 500;
    margin-right: 10px;
    display: inline;
}
.softDownload .soft .softwarename span {
    font-size: 20px;
    color: #9a9899;
    opacity: .7;
}
.softDownload .soft .downLoad{
    margin-top: 20px;
    margin-left: 20px;
}
.softDownload .soft .downLoad .down{
    width: 200px;
    height: 50px;
    background: #3a8dff;
    font-size: 17px;
    color: #fefefe;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
.softDownload .soft .downLoad .down:hover{
    background: #599fff;
    color: #fff;
    transition: 1.2s;
}
.softDownload .soft .downLoad .down.nodownload{
    background: #ccc;
}
.softDownload .soft .downLoad .down.nodownload:hover{
    background: #ccc;
}
.softDownload .soft .downLoad .down .icons{
    width: 22px;
    height: 20px;
    display: inline-block;
    background-position: -352px -45px;
    vertical-align: middle;
    margin-right: 10px;
}
.softDownload .soft .downLoad .likes{
    width: 153px;
    height: 50px;
    background: #f8fafc;
    border: 1px solid #599fff;
    border-radius: 30px;
    font-size: 17px;
    color: #5197fa;
    font-weight: bold;
    cursor: pointer;
    margin-left: 15px;
    transition: all 0.3s cubic-bezier(.645,.045,.355,1);
}
.softDownload .soft .downLoad .likes:hover{
   background: #5597f8;
   color: #fff;
   transition: 1.2s;
}
.softDownload .soft .downLoad .likes .icons{
    display: inline-block;
    width: 22px;
    height: 20px;
    background-position: -386px -45px;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 10px;
}
.softDownload .soft .downLoad .likes:hover .icons{
    background-position: -362px -192px;
}
.softDownload .soft .floatR{
    width: 1117px;
}
.softDownload .soft .floatR .tips{
    margin-top: 25px;
    margin-left: 25px;
}
.softDownload .soft .floatR .tips p{
    display: inline-block;
}
.softDownload .soft .floatR .tips .rgjc{
    font-size: 15px;
    color: #61c455;
}
.softDownload .soft .floatR .tips .rgjc .icons{
    display: inline-block;
    width: 14px;
    height: 15px;
    background-position: -417px -47px;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 5px;
}
.softDownload .soft .floatR .tips .rjts{
    font-size: 15px;
    color: #f5b935;
    margin-left: 70px;
    cursor: pointer;
}
.softDownload .soft .floatR .tips .rjts .icons{
    display: inline-block;
    width: 14px;
    height: 14px;
    background-position: -440px -48px;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 5px;
}
.explainBox p font {
    color: rgb(95, 99, 104);
}
.main{
    width: 100%;
    background: #f8fafc;
    padding-bottom: 35px;
}
.main .layout{
    width: 1198px;
    background: #fff;
    border: 1px solid #f4f4f4;
    box-shadow: 0 16px 48px #f6f8fb;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
.main .layout::before{
    content: '';
    width: 307px;
    height: 352px;
    display: block;
    background: url("../image/bgpic.png");
    position: absolute;
    top: 90px;
    left: -30px;
    z-index: -1;
}
.main .titleList ul{
    padding: 15px 0px;
    border-bottom: 1px solid #f9f9fa;
}
.main .titleList ul li{
    width: 198px;
    height: 75px;
    border-left: 1px solid #f5f5f5;
    text-align: center;
}
.main .titleList ul li:nth-child(1){
    border: none;
}
.main .titleList ul li p{
    font-size: 13px;
    color: #9a9899;
    line-height: 23px;
}
.main .titleList ul li span{
    font-size: 21px;
    color: #3c4248;
    line-height: 30px;
    font-weight: bolder;
    opacity: .7;
}
.main .titleList ul li a span.icons{
    display: inline-block;
    width: 18px;
    height: 17px;
    background-position: -327px -38px;
    margin-left: 4px;
}
.main .titleList ul li a:hover span{
    color: #5299ff;
    font-weight: bolder;
}
/* .main .content{
    padding: 0px 25px;
} */
.title{
    margin-left: 40px;
    padding: 0px 25px;
}
.title span.icons{
    width: 80px;
    height: 70px;
    display: inline-block;
    background-position: -294px -116px;
    vertical-align: middle;
}
.title h2{
    display: inline-block;
    font-size: 30px;
    color: #333333;
    font-weight: 500;
    vertical-align: middle;
    margin-left: 5px;
}
.main .content .detailBox{
    padding-top: 60px;
    margin-top: 30px;
}
.main .content .softIntroduce span.yinh{
    display: block;
    width: 64px;
    height: 50px;
    background-position: -386px -125px;
    margin: 0 auto;
    margin-top: 25px;
}
.explain{
    width: 805px;
    margin: 0 auto;
    margin-top: 25px;
}
.explain p{
    width: 805px;
    font-size: 19px;
    color: #5f6368 !important;
    font-weight: 500!important;
    line-height: 38px;
    text-align: justify;
    margin-top: 10px;
    word-break: break-all;
}
.explain p font{
    color: #5f6368 !important;
}
.explain p[align="center"]{
    text-align: center;
}
.explain p img{
    margin: 10px 0 10px;
    max-width: 600px;
    height: auto;
}
.explain a {
    color: #5f6368;
    text-decoration: none !important;
    font-weight: 500 !important;
}
.explain a span {
    color: #5f6368 !important;
    font-weight: 500 !important;
}
.explain a strong {
    font-weight: 500 !important;
}
.explain a:hover{
    color: #5299ff;
}
.main .content .softazbz{
    padding-top: 80px;
    margin-top: 0px;
}
.main .content .softfaq{
    padding-top: 30px;
    margin-top: 0px;
}
div#syff {
    padding-top: 30px;
    margin-top: 0px;
}
.main .content .softxbjy{
    padding: 30px 0px 90px 0px;
}
.explain .more{
    text-align: center;
}
.explain .more span, .back {
    background: url("../image/softtop.png") no-repeat;
}
.explain .more span {
    /* display: inline-block;
    padding-right: 17px;
    color: #0199dc;
    background-position: 60px -56px;
    margin-top: 15px;
    cursor: pointer;
    line-height: 25px; */
    width: 190px;
    height: 48px;
    display: block;
    border: 1px solid #599fff;
    border-radius: 30px;
    font-size: 17px;
    color: #5197fa;
    line-height: 48px;
    text-align: center;
    font-weight: 700;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 20px;
    background: #fff;
    cursor: pointer;
}
.explain .explain_content{
    height: 445px;
    overflow: hidden;
}
.explain .explain_content1{
    overflow: hidden;
}
.explain .explain_content2{
    overflow: hidden;
}
.explain .explain_content3{
    overflow: hidden;
}
.more span.change {
    background-position: 32px -80px;
    display: none;
}
#rjjs .explainBox .surplus{
    width: 805px;
    margin: 0 auto;
    font-size: 16px;
    color: #8b9296;
    line-height: 30px;
    margin-top: 20px;
}
/* 软件特色 */
.main .content .feature{
    padding-top: 110px;
    position: relative;
    margin-top: 0px;
}
.main .content .feature:before{
    content: '';
    display: block;
    width: 307px;
    height: 352px;
    background: url("../image/bgpic2.png");
    position: absolute;
    top: 0px;
    left: -55px;
    z-index: -1;
}
.main .content .detailBox dl dt{
    width: 645px;
    height: 440px;
    background: url("../image/picborder.png") no-repeat;
    float: left;
    text-align: center;
}
.main .content .detailBox dl.special{
    margin-top: 50px;
    margin: 50px 40px 0px 40px;
    overflow: initial;
}
.main .content .detailBox dl.special dt{
    width: auto;
    height: auto;
    float: left;
    background: none;
    position: relative;
    background: #fff;
    margin-left: 40px;
}
.main .content .detailBox dl.special dd{
   width: auto;
    float: right;
    position: relative;
    margin: 0;
    margin-right: 40px;
    background: #fff;
    transform: none;
    overflow: initial;
}
.main .content .detailBox dl.special img{
    max-height: 300px!important;
    max-width: 420px !important;
    margin-top: 0px;
    margin-left: 0px;
    padding: 20px;
    transform: none;
}
.main .content .detailBox dl.special dt:before,.main .content .detailBox dl.special dd:before{
    content: '';
    display: inline-block;
    width: 382px;
    height: 235px;
    background: url("../image/topborder.png") no-repeat;
    position: absolute;
    top:-40px;
    left:-40px;
}
.main .content .detailBox dl.special dt:after,.main .content .detailBox dl.special dd:after{
    content: '';
    display: inline-block;
    width: 396px;
    height: 282px;
    background: url("../image/bottomborder.png") no-repeat;
    position: absolute;
    bottom:-40px;
    right:-40px;
}
.main .content .detailBox dl:nth-of-type(2n) dt{
    float: right;
}
.main .content .detailBox dl dt img{
    max-width: 503px !important;
    max-height: 288px !important;
    background: #fff;
    transform: translateY(-50%);
    margin-top: 215px;
}
.main .content .detailBox dl:nth-child(1) dt img{
    max-width: 503px;
    max-height: 288px;
    background: linear-gradient(-50deg, transparent 15px, #fff 0) top left,;
    /* background: -webkit-linear-gradient(-50deg, transparent 15px, #fff 0) top left; */
    background: -moz-linear-gradient(-50deg, transparent 15px, #fff 0) top left;
    background: -o-linear-gradient(-50deg, transparent 15px, #fff 0) top left;
    background: -ms-linear-gradient(-50deg, transparent 15px, #fff 0) top left;
    /* background-size: 50% 50%; */
    /* background-repeat: no-repeat; */
    /* margin-top: 50px; */
    /* padding-top: 20px; */
    /* margin-left: 43px; */
    /* padding-left: 25px; */
    overflow: hidden;
}
.main .content .detailBox dl{
    max-height: 460px;
    overflow: hidden;
    margin: 10px;
    border-bottom: 1px solid #f4f5f7;
}
.main .content .detailBox dl:last-child{
    border: none;
}
/* .main .content .detailBox dl:nth-child(1){
    margin-top: 0px;
} */
.main .content .detailBox dl dd{
    width: 415px;
    max-height: 500px;
    overflow: hidden;
    margin: 107px 58px 0px 60px;
    float: right;
    transform: translateY(-50%);
    margin-top: 215px;
}
.main .content .detailBox dl:nth-of-type(2n) dd{
    float: left;
}
.main .content .detailBox dl dd h3{
    font-size: 30px;
    color: #2d333a;
    line-height: 46px;
    font-weight: normal;
    margin-bottom: 5px;
}
.main .content .detailBox dl dd p{
    font-size: 16px;
    color: #8b9296 !important;
    line-height: 30px;
    text-align: justify;
    font-weight: 500 !important;
}
.main .content .detailBox dl dd p font {
    color: #8b9296 !important;
}
/* .main .content .detailBox dl:nth-of-type(2n+1) dd p::before{
    content: '';
    display: inline-block;
    width: 3px;
    height: 3px;
    background: #fff;
    border: 2px solid #abaeaf;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
} */
.main .content .detailBox dl dd p span{
    width: 390px;
    display: inline-block;
    vertical-align: top;
}
.main .content .detailBox .more{
    width: 190px;
    height: 48px;
    display: block;
    border: 1px solid #599fff;
    border-radius: 30px;
    font-size: 17px;
    color: #5197fa;
    line-height: 48px;
    text-align: center;
    font-weight: 700;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 20px;
    background: #fff;
    cursor: pointer;
}
.main .content .detailBox .more:hover{
    background: #5597f8;
    color: #fff;
    transition: 1.2s;
}

.feature_Content .feature_explain span[style="font-weight: bold;"] {
    display: block;
    font-size: 22px;
    color: #2d333a;
    line-height: 46px;
    font-weight: normal;
    margin-top: 10px;
    font-weight: 500 !important;
}

.feature_Content .feature_explain p.displayNone::before {
    display: none !important;
}
.detailBox .explainBox span[style="font-weight: bold;"] {
    display: block;
    font-size: 22px;
    color: #2d333a;
    line-height: 46px;
    font-weight: normal;
    margin-bottom: 5px;
    font-weight: 500 !important;
}

.detailBox .explainBox p.displayNone::before {
    display: none !important;
}
/* 更新日志 */
.main .content .update_log{
    background: #fafbfe;
    padding: 80px 0px 50px 0px;
}
.main .content .update_log .log_content{
    width: 870px;
    margin: 0 auto;
    position: relative;
    margin-top: 30px;
}
.main .content .update_log .log_content::before{
    content: '';
    width: 20px;
    height: 5px;
    background: #e6e6ef;
    position: absolute;
    top: 0px;
    left: 43px;
    border-radius: 4px;
}
/* .main .content .update_log .log_content::after{
    content: '';
    width: 5px;
    height: auto;
    background: #e6e6ef;
    position: absolute;
    left: 0px;
    top: 0px;
    margin-left: 50px;
} */
.main .content .update_log .log_content ul{
    margin-left: 50px;
    border-left: 5px solid #e6e6ef;
    padding-bottom: 18px;
}
.main .content .update_log .log_content ul li{
    padding-top: 30px;
    margin-left: 30px;
    position: relative;
}
.main .content .update_log .log_content ul li:before{
   content: '';
   width: 6px;
   height: 6px;
   display: block;
   background: #db6859;
   border: 7px solid #fff;
   border-radius: 50%;
   position: absolute;
   left: -42px;
   top: 82px;
}
.main .content .update_log .log_content ul li span.update_time{
    font-size: 14px;
    color: #3986f7;
    margin-left: 5px;
}
.main .content .update_log .log_content ul li .update_introduce{
    display: block;
    width: 550px; 
    background: #fff;
    border: 1px solid #f0f0f0;
    padding: 30px 20px;
    position: relative;
    margin-top: 10px;
    border-radius: 3px;
    font-size: 14px;
    color: #979797;
    line-height: 30px;
    margin-left: 15px;
    text-indent: 0em !important;    
}
.main .content .update_log .log_content ul li .update_introduce:hover{
    box-shadow: 0 0 26px rgb(0 0 0 / 6%);
}
.main .content .log_content ul li .update_introduce h3{
   font-size: 21px;
   color: #474747;
   font-weight: 600;
   margin-bottom: 30px;
}
.main .content .log_content ul li .update_introduce p{
   font-size: 14px;
   color: #979797;
   line-height: 30px;
   margin-left: 15px;
   text-indent: 0em !important;
}
/* .main .content .log_content ul li .update_introduce p::before{
   content: '';
   display: inline-block;
   width: 3px;
   height: 3px;
   background: #fff;
   border: 1px solid #b1b4b5;
   border-radius: 50%;
   margin-right: 8px;
} */
.main .content .update_log .log_content ul li .update_introduce::before{
    box-sizing: content-box;
    position: absolute;
    top: 18px;;
    left:-21px;
    border-bottom:11px solid transparent;
    border-top:11px solid transparent;
    border-left:11px solid transparent;
    border-right:11px solid #fff;
    display: block;
    content:'';
    z-index: 2;
}
.main .content .update_log .log_content ul li .update_introduce::after{
    box-sizing: content-box;
    position: absolute;
    top: 19px;
    left:-21px;
    border-bottom:10px solid transparent;
    border-top:10px solid transparent;
    border-left:10px solid transparent;
    border-right:10px solid #f0f0f0;
    display: block;
    content:'';
    z-index:1
}
.main .update_log .log_content button.loadMore{
    width: 100px;
    height: 30px;
    border: 1px solid #599fff;
    background: #fff;
    border-radius: 20px;
    font-size: 14px;
    color: #5197fa;
    line-height: 30px;
    cursor: pointer;
    margin-left: 3px;
}
.main .update_log .log_content button.loadMore:hover{
    background: #5597f8;
    color: #fff;
}
/* 历史版本 */
.main .historical_version{
    background: linear-gradient(to bottom right,#f7fef1,#f2fff8);
    padding: 80px 0px;
    border-top: 8px solid #fff;
}
.main .historical_version .versionList{
    width: 1035px;
    margin: 0 auto;
    margin-top: 25px;
}
.main .historical_version .tableTitle{
    height: 47px;
    background: #fdfefa;
    font-size: 15px;
    color: #979797;
    font-weight: bold;
    line-height: 47px;
    border: 2px solid #f3f6f2;
}
.main .historical_version .versionList span.floatL{
    display: block;
    width: 350px;
    margin-left: 25px;
}
.main .historical_version .tableTitle span.floatL span.icons{
    width: 13px;
    height: 13px;
    display: inline-block;
    background-position: -452px -122px;
}
.main .historical_version .versionList span.floatR span{
    display: inline-block;
    text-align: center;
}
.main .historical_version .versionList span.floatR .size{
    width: 110px;
}
.main .historical_version .versionList span.floatR .CN{
    width: 110px;
}
.main .historical_version .versionList span.floatR .xtbb{
    width: 205px;
}
.main .historical_version .versionList span.floatR .time{
    width: 120px;
}
.main .historical_version .versionList span.floatR .operation{
    width: 80px;
}
.main .historical_version .tableTitle span.floatR .size span.icons{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-position: -470px -122px;
    vertical-align: middle;
    margin-top: -2px;
}
.main .historical_version .tableTitle span.floatR .CN span.icons{
    display: inline-block;
    width: 18px;
    height: 14px;
    background-position: -449px -139px;
    vertical-align: middle;
    margin-top: -2px;
}
.main .historical_version .tableTitle span.floatR .xtbb span.icons{
    display: inline-block;
    width: 16px;
    height: 17px;
    background-position: -475px -137px;
    vertical-align: middle;
    margin-top: -2px;
}
.main .historical_version .tableTitle span.floatR .time span.icons{
    display: inline-block;
    width: 16px;
    height: 17px;
    background-position: -451px -161px;
    vertical-align: middle;
    margin-top: -2px;
}
.main .historical_version .versionList ul li{
    background: #fff;
    height: 65px;
    line-height: 65px;
    border: 2px solid #f3f6f2;
    border-top: 0px;
    font-size: 15px;
    color: #6b6b6b;
    cursor: pointer;
}
.main .historical_version .versionList ul li:hover{
    transform: translateY(-1px);
    box-shadow: 0 0 26px rgb(0 61 131 / 10%);
}
.main .historical_version .versionList ul li:hover span.floatL{
    color: #408bf8;
}
.main .historical_version .versionList ul li .operation span.icons{
    width: 24px;
    height: 23px;
    display: inline-block;
    background-position: -471px -158px;
    vertical-align: middle;
    cursor: pointer;
}
.main .historical_version .versionList ul li .operation span.icons:hover{
   background-position: -295px -193px;
}
/* 相关软件 */
.main .related_software{
    background: #fafbfe;
    padding: 80px 30px 40px 30px;
}
.related_software .SoftList{
    padding-top: 15px;
}
.related_software .SoftList ul{
    display: none;
}
.related_software .SoftList ul li{
    width: 211px;
    height: 298px;
    border: 1px solid #f2f3f4;
    background: #fff;
    margin-top: 22px;
    border-radius: 5px;
    margin-right: 18px;
    transition: transform .3s ease-in-out,translateY .3s ease-in-out,box-shadow .3s ease-in-out;
}
.related_software .SoftList ul li:nth-child(5n){
    margin-right: 0px;
}
.related_software .SoftList ul li a{
    display: block;
    padding: 0px 20px;
}
.related_software .SoftList ul li img{
    width: 63px;
    height: 63px;
    margin-top: 29px;
    border-radius: 10px;
    transition: transform .3s ease-in-out,translateY .3s ease-in-out;
    
}
.related_software .SoftList ul li h3{
    font-size: 20px;
    color: #24292f;
    font-weight: 500;
    margin-top: 20px;
    white-space: nowrap;
    overflow: hidden;
}
.related_software .SoftList ul li p.describe{
    font-size: 16px;
    color: #aaaaaa;
    line-height: 24px;
    text-align: justify;
    margin-top: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 48px;
}
.related_software .SoftList ul li .detail{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.related_software .SoftList .detail span{
    color: #aaaaaa;
    font-size: 13px;
}
.related_software .SoftList .detail i.download{
    display: inline-block;
    width: 11px;
    height: 11px;
    background-position: -82px -4px;
    margin-right: 4px;
}
.related_software .SoftList .detail i.comment{
    display: inline-block;
    width: 13px;
    height: 11px;
    background-position: -98px -4px;
    margin-right: 4px;
}
.related_software .SoftList .detail i.time{
    display: inline-block;
    width: 11px;
    height: 11px;
    background-position: -118px -4px;
    margin-right: 4px;
}
.related_software .SoftList ul li span.jt{
    display: block;
    width: 38px;
    height: 10px;
    background-position: -135px -5px;
    margin-top: 25px;
}
.related_software .SoftList ul li:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgb(84 81 81 / 15%);
    z-index: 1;
}
.related_software .SoftList ul li:hover h3{
    color: #3e8dff;
}
.related_software .SoftList ul li:hover span.jt{
    background-position: -177px -5px;
}
.related_software .SoftList ul li:hover img{
    transform: scale(1.1);
    /* transform: rotateZ(360deg); */
    transition: transform .5s ease-in-out 0s;
    -webkit-transition: transform .5s ease-in-out 0s;
}
.softIcon {
    position: relative;
}

.softIcon .softIcon-hover {
    background-color: var(--color);
    background-size: cover;
    background-repeat: no-repeat;
}

.softIcon .softIcon-hover{
    --size: 83px;
    width: var(--size);
    height: var(--size);
    position: absolute;
    top: 19px;
    left: -10px;
    background-image: var(--img);
    border-radius: 55px;
    opacity: .6;
    transform: scale(0) translateX(-50%);
    filter: blur(20px) opacity(70%);
    z-index: -1;
    transition-delay: .05s;
    transition: transform .3s ease-in-out;
}
.rankling_list ul li .softIcon .softIcon-hover{
    top: -10px;
    left: -3px;
}
.rankling_list ul li:hover .softIcon-hover {
    transform: scale(1);
}
.related_software .SoftList ul li:hover .softIcon-hover {
    transform: scale(1);
}

.rankling_list ul li:hover img {
    transform: scale(1.1);
    /* transform: rotateZ(360deg); */
    transition: transform .5s ease-in-out 0s;
    -webkit-transition: transform .5s ease-in-out 0s;
}
.footer{
    margin-top: 0px;
}
/* 左侧浮层 */
.leftFixed{
    width: 40px;
    height: 200px;
    position: fixed;
    bottom: 0px;
    left: 50%;
    margin-left: -670px;
}
.leftFixed.fixed{
    position: fixed;
    top: 50%;
    margin-top: -100px;
    left: 50%;
    margin-left: -670px;
}
.leftFixed span.return{
    width: 30px;
    height: 22px;
    display: block;
    background-position: -462px -41px;
    margin: 0 auto;
    cursor: pointer;
}
.leftFixed span.return:hover{
    background-position: -381px -72px;
}
.leftFixed p{
    font-size: 15px;
    color: #ababab;
    margin-top: 30px;
    line-height: 25px;
    text-align: center;
}
.leftFixed p.likes span.icons{
    display: block;
    width: 36px;
    height: 34px;
    background-position: -291px -70px;
    margin: 0 auto;
    cursor: pointer;
}
.leftFixed p.likes:hover{
    color: #78b1fe;
    transition: 1.2s;
}
.leftFixed p.likes span.icons:hover{
    display: block;
    width: 36px;
    height: 34px;
    background-position: -417px -70px;
}
.leftFixed p.likes.active{
    color: #78b1fe;
}
.leftFixed p.likes.active span.icons{
    display: block;
    width: 36px;
    height: 34px;
    background-position: -417px -70px;
}
.leftFixed p.commentnum span.icons{
    display: block;
    width: 36px;
    height: 31px;
    background-position: -300px -294px;
    margin: 0 auto;
    cursor: pointer;
}
.leftFixed p.commentnum:hover span.icons{
    background-position: -348px -294px;
}
.leftFixed p.commentnum:hover{
    color: #78b1fe;
    transition: 1.2s;
}
/* 评论 */
.tinRightIn {
    -webkit-animation-name: tinRightIn;
    animation-name: tinRightIn
}

@-webkit-keyframes tinRightIn {
    0% {
        opacity: 0;
        transform: scale(1) translateX(900%)
    }

    50%,
    70%,
    90% {
        opacity: 1;
        transform: scale(1.1) translateX(0)
    }

    60%,
    80%,
    to {
        opacity: 1;
        transform: scale(1) translateX(0)
    }
}

@keyframes tinRightIn {
    0% {
        opacity: 0;
        transform: scale(1) translateX(900%)
    }

    50%,
    70%,
    90% {
        opacity: 1;
        transform: scale(1.1) translateX(0)
    }

    60%,
    80%,
    to {
        opacity: 1;
        transform: scale(1) translateX(0)
    }
}

.tinRightOut {
    -webkit-animation-name: tinRightOut;
    animation-name: tinRightOut
}

@-webkit-keyframes tinRightOut {

    0%,
    20%,
    40%,
    50% {
        opacity: 1;
        transform: scale(1) translateX(0)
    }

    10%,
    30% {
        opacity: 1;
        transform: scale(1.1) translateX(0)
    }

    to {
        opacity: 0;
        transform: scale(1) translateX(900%)
    }
}

@keyframes tinRightOut {

    0%,
    20%,
    40%,
    50% {
        opacity: 1;
        transform: scale(1) translateX(0)
    }

    10%,
    30% {
        opacity: 1;
        transform: scale(1.1) translateX(0)
    }

    to {
        opacity: 0;
        transform: scale(1) translateX(900%)
    }
}
.tinUpIn {
    -webkit-animation-name: tinUpIn;
    animation-name: tinUpIn
}

@-webkit-keyframes tinUpIn {
    0% {
        opacity: 0;
        transform: scale(1) translateY(-900%)
    }

    50%,
    70%,
    90% {
        opacity: 1;
        transform: scale(1.1) translateY(0)
    }

    60%,
    80%,
    to {
        opacity: 1;
        transform: scale(1) translateY(0)
    }
}

@keyframes tinUpIn {
    0% {
        opacity: 0;
        transform: scale(1) translateY(-900%)
    }

    50%,
    70%,
    90% {
        opacity: 1;
        transform: scale(1.1) translateY(0)
    }

    60%,
    80%,
    to {
        opacity: 1;
        transform: scale(1) translateY(0)
    }
}

.tinUpOut {
    -webkit-animation-name: tinUpOut;
    animation-name: tinUpOut
}

@-webkit-keyframes tinUpOut {

    0%,
    20%,
    40%,
    50% {
        opacity: 1;
        transform: scale(1) translateY(0)
    }

    10%,
    30% {
        opacity: 1;
        transform: scale(1.1) translateY(0)
    }

    to {
        opacity: 0;
        transform: scale(1) translateY(-900%)
    }
}

@keyframes tinUpOut {

    0%,
    20%,
    40%,
    50% {
        opacity: 1;
        transform: scale(1) translateY(0)
    }

    10%,
    30% {
        opacity: 1;
        transform: scale(1.1) translateY(0)
    }

    to {
        opacity: 0;
        transform: scale(1) translateY(-900%)
    }
}

.zanUpOut {
    -webkit-animation-name: zanUpOut;
    animation-name: zanUpOut
}

@-webkit-keyframes zanUpOut {

    0%,
    20%,
    40%,
    50% {
        opacity: 1;
        transform: scale(1) translateY(0)
    }

    10%,
    30% {
        opacity: 1;
        transform: scale(1.1) translateY(0)
    }

    70%,
    80%,
    90% {
        opacity: 0;
        transform: scale(1) translateY(-900%)
    }

    to {
        opacity: 1;
        transform: scale(1) translateY(0)
    }
}

@keyframes zanUpOut {

    0%,
    20%,
    40%,
    50% {
        opacity: 1;
        transform: scale(1) translateY(0)
    }

    10%,
    30% {
        opacity: 1;
        transform: scale(1.1) translateY(0)
    }

    70%,
    80%,
    90% {
        opacity: 0;
        transform: scale(1) translateY(-900%)
    }

    to {
        opacity: 1;
        transform: scale(1) translateY(0)
    }
}
.fixedComment .commentWrap{
    width: 235px;
    height: 50px;
    background: #66a1f8;
    padding: 0px 20px;
    border-radius: 3px 3px 0px 0px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 2;
    box-shadow: 0 13px 35px -12px rgb(35 35 35 / 35%);
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    cursor: pointer;
    z-index: 3;
}
.fixedComment .commentWrap:hover{
    background: #50a0ff;
    transition: 1.2s;
}
.fixedComment .commentWrap .comment_number{
    line-height: 50px;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}
.fixedComment .commentWrap .comment_number span{
    font-size: 32px;
    padding: 0px 5px;
}
.fixedComment .commentWrap span.icons{
    width: 28px;
    height: 25px;
    display: inline-block;
    background-position: -329px -191px;
    vertical-align: middle;
    margin-top: 13px;
}
/* 评论弹出框 */
.fixedComment .commentContent{
    width: 400px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 3;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 25px 0 rgb(0 0 0 / 13%);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    display: none;
}
.fixedComment .commentContent .top{
    height: 55px;
    border-radius: 5px 5px 0px 0px;
    background: #50a0ff;
    padding: 0px 15px;
}
.fixedComment .commentContent .top .softName{
    width: 290px;
    font-size: 18px;
    color: #fff;
    line-height: 55px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fixedComment .commentContent .top .close{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: -458px -198px;
    vertical-align: middle;
    margin-top: 20px;
    cursor: pointer;
}
.fixedComment .commentContent .commentTitle{
    height: 37px;
    line-height: 37px;
    border-bottom: 1px solid #f6f6f6;
    background: #fff;
    padding: 0px 15px;
    font-size: 15px;
    color: #3e444f;
}
.fixedComment .commentContent .commentTitle .plun{
    width: 19px;
    height: 16px;
    display: inline-block;
    background-position: -456px -225px;
    vertical-align: middle;
    margin-right: 5px;
}
.fixedComment .commentContent .commentIntroduce{
    height: 396px;
    background: #fff;
    overflow-y: auto;
}
.fixedComment .commentContent .commentIntroduce ul{
    padding: 0px 15px;
}
.fixedComment .commentContent .commentIntroduce ul li{
    margin-top: 15px;
}
.fixedComment .commentContent .commentIntroduce ul li img{
   width: 25px;
   height: 25px;
}
.fixedComment .commentContent .commentIntroduce ul li .nickname{
   font-size: 12px;
   color: #3e444f;
   font-weight: bold;
}
.fixedComment .commentContent .commentIntroduce ul li .time{
   font-size: 12px;
   color: #a4a5a5;
   margin-left: 10px;
}
.fixedComment .commentContent .commentIntroduce ul li .right{
   margin-left: 8px;
}
.fixedComment .commentContent .commentIntroduce ul li .commentDetail{
    background: #f3f4f7;
    max-width: 260px;
    text-align: justify;
    padding: 10px;
    font-size: 13px;
    color: #2e3138;
    line-height: 20px;
    border-radius: 5px;
    margin-top: 5px;
}
.fixedComment .commentContent .commentFooter{
    background: #fff;
}
.fixedComment .commentContent .commentFooter textarea{
    font-size: 13px;
    color: #909090;
    line-height: 22px;
    padding: 15px;
    width: 370px;
    height: 57px;
    border: none;
    outline: none;
    resize: none;
}
.fixedComment .commentContent .commentFooter .bottom{
    background: #fff;
    padding: 0px 15px;
}
.fixedComment .commentContent .commentFooter .bottom span.icons{
    width: 14px;
    height: 14px;
    display: inline-block;
    background-position: -479px -199px;
    vertical-align: middle;
    margin-right: 8px;
}
.fixedComment .commentContent .commentFooter .bottom .floatL a{
    font-size: 13px;
    color: #2e3138;
}
.fixedComment .commentContent .commentFooter .bottom .floatR button{
    width: 95px;
    height: 30px;
    background: #50a0ff;
    line-height: 30px;
    border: none;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px 0px 5px 0px;
}
.fixedComment .commentContent .commentFooter .bottom .floatR button:hover{
    background: #308fff;
}
/* 顶部浮层 */
@-webkit-keyframes slideUpReturn {
    0% {
        transform-origin: 0 0;
        transform: translateY(-100%)
    }

    to {
        transform-origin: 0 0;
        transform: translateY(0)
    }
}

@keyframes slideUpReturn {
    0% {
        transform-origin: 0 0;
        transform: translateY(-100%)
    }

    to {
        transform-origin: 0 0;
        transform: translateY(0)
    }
}
@-webkit-keyframes slideBottomReturn {
    0% {
        transform-origin: 0 0;
        transform: translateY(100%)
    }

    to {
        transform-origin: 0 0;
        transform: translateY(0)
    }
}

@keyframes slideBottomReturn {
    0% {
        transform-origin: 0 0;
        transform: translateY(100%)
    }

    to {
        transform-origin: 0 0;
        transform: translateY(0)
    }
}

.topFloating{
    width: 100%;
    height: 60px;
    background: #fff;
    box-shadow: 0 13px 35px -12px rgb(35 35 35 / 15%);
    z-index: 3;
}
.topFloating.fixed{
    position: fixed;
    top: 0px;
}
.fc-animation {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.slideUpReturn {
    -webkit-animation-name: slideUpReturn; 
    animation-name: slideUpReturn;
}
.topFloating .floatL{
    height: 60px;
}
.topFloating .floatL img{
    width: 40px;
    height: 40px;
    vertical-align: middle;
}
.topFloating .floatL span{
    font-size: 18px;
    color: #7b7b7b;
    line-height: 60px;
    margin-left: 15px;
}
.topFloating .floatR ul li{
    cursor: pointer;
    margin-left: 25px;
    line-height: 60px;
}
.topFloating .floatR ul li:nth-child(1){
    margin-left: 0px;
}
.topFloating .floatR ul li a{
    font-size: 17px;
    color: #7b7b7b;
}
.topFloating .floatR ul li a:hover{
    color: #4690fe;
}
.topFloating .floatR ul li.active{
    color: #4690fe;
}
.topFloating .floatR button{
    width: 122px;
    height: 42px;
    background: #55a3fc;
    border: none;
    border-radius: 5px;
    margin-top: 8px;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin-left: 50px;
}
.topFloating .floatR button:hover{
    background: #3492fd;
    transition: 1.2s;
}
.topFloating .floatR button.nodownload{
    background: #ccc;
}
.topFloating .floatR button.nodownload:hover{
    background: #ccc;
}
/* 登录弹框样式 */
.commentIcons{
    background: url("../image/commentIcons.png") no-repeat;
}
 .loginBox{
     width: 360px;
     height: 470px;
     background: #fff;
     position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1000;
    margin: auto;
    box-shadow: 0 0 18px rgb(0 0 0 / 6%);
    display: none;
 }
 .loginBox .lbTop{
    display: block;
    width: 20px;
    height: 20px;
    background-position: -118px -6px;
    cursor: pointer;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
 }
 .loginBox .lbCon span.commentIcons{
     display: block;
     width: 95px;
     height: 95px;
     background-position:  -5px -106px;
     margin: 0 auto;
     margin-top: 60px;
 }
 .loginBox .lbTitle{
     margin: 0px 35px;
     border-bottom: 1px solid #dcdcdc;
     text-align: center;
     height: 35px;
    margin-bottom: 15px;
 }
 .loginBox .lbTitle span{
     display: inline-block;
    font-size: 18px;
    line-height: 30px;
    color: #888888;
    background-color: #ffffff;
    padding: 0 15px;
    margin-top: 20px;
 }
 .loginBox ul{
     padding-top: 15px;
 }
 .loginBox ul li{
     width: 188px;
     height: 48px;
     background: #fff;
     font-size: 14px;
     color: #a3a3a3;
     line-height: 50px;
     border: 1px solid #e5e5e5;
     margin: 0 auto;
     margin-top: 15px;
     border-radius: 30px;
     cursor: pointer;
     text-align: center;
    }
    .loginBox .loginWays ul li.sinaLogin .commentIcons{
        width: 26px;
        height: 21px;
        display: inline-block;
        background-position: -183px -6px;
        margin-top: -5px;
        margin-right: 10px;
        vertical-align: middle;
    }
    .loginBox .loginWays ul li.sinaLogin .commentIcons{
        background-position:  -120px -78px;
    }
    .loginBox .loginWays ul li.sinaLogin:hover .commentIcons{
        background-position:  -153px -6px;
    }
    .loginBox .loginWays ul li.qqLogin .commentIcons{
        width: 23px;
        height: 27px;
        display: inline-block;
        background-position: -121px -111px;
        margin-top: -5px;
        margin-right: 10px;
        vertical-align: middle;
        margin-left: -11px;
    }
    /* .loginBox .loginWays ul li.qqLogin:hover .commentIcons{
        background-position: -220px -6px;
    } */
    .loginBox .loginWays ul li.wechatLogin .commentIcons{
        width: 25px;
        height: 21px;
        display: inline-block;
        background-position: -195px -42px;
        margin-top: -5px;
        margin-right: 10px;
        vertical-align: middle;
    }
    .loginBox .loginWays ul li.wechatLogin .commentIcons{
        background-position: -190px -79px;
    }
    .loginBox .loginWays ul li.wechatLogin:hover .commentIcons{
        background-position: -153px -42px;
    }
 .loginBox ul li{
     width: 186px;
     height: 46px;
     font-size: 14px;
     color: #404040;
    }
 .loginBox ul li:hover{
     /* width: 190px;
     height: 50px;
     border: none !important; */
     color: #fff;
    }
    .loginBox ul li.wechatLogin{
        border: 2px solid #61d68f;
        background: #fff;
    }
    .loginBox ul li.qqLogin{
        border: 2px solid #74b4fc;
        background: #fff;
    }
    .loginBox ul li.sinaLogin{
        border: 2px solid #fa9b98;
        background: #fff;
    }
 .loginBox ul li.sinaLogin:hover{
     background: -webkit-linear-gradient(left,#f84848,#f77575);
     background: -moz-linear-gradient(left,#f84848,#f77575);
     background: -ms-linear-gradient(left,#f84848,#f77575);
     background: -o-linear-gradient(left,#f84848,#f77575);
     background: linear-gradient(left,#f84848,#f77575);
    }
 .loginBox ul li.qqLogin:hover{
     background: -webkit-linear-gradient(left,#1594ff,#39b0fe);
     background: -moz-linear-gradient(left,#1594ff,#39b0fe);
     background: -ms-linear-gradient(left,#1594ff,#39b0fe);
     background: -o-linear-gradient(left,#1594ff,#39b0fe);
     background: linear-gradient(left,#1594ff,#39b0fe);
    }
 .loginBox ul li.wechatLogin:hover{
     background: -webkit-linear-gradient(left,#32be31,#60d861);
     background: -moz-linear-gradient(left,#32be31,#60d861);
     background: -ms-linear-gradient(left,#32be31,#60d861);
     background: -o-linear-gradient(left,#32be31,#60d861);
     background: linear-gradient(left,#32be31,#60d861);
    }
  /* 登录遮罩层 */
  .replyCover {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
    display: none;
}
/* 先审后发评论 */
.auditing {
    width: 358px;
    height: 216px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1000;
    margin: auto;
    border-radius: 10px;
    display: none;
    box-shadow: #dadada 0px 0px 13px 6px;
}
.auditing img {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
}
.onlyone p{
    width: 805px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 19px;
    color: rgb(95, 99, 104);
    line-height: 38px;
}
/* 登录成功后样式 */
input#net-register {
    float: left;
    margin-right: 5px;
    margin-top: 7px;
}
/* 企点客服位置 */
iframe#_QIDIAN_WEB_IM_IFRAME_3009069248[data-isopen="1"] {
    right: 300px !important;
}
iframe#_QIDIAN_WEB_IM_IFRAME_3009069248[style="display: block; position: fixed; z-index: 2000000010; width: 300px; height: 50px; bottom: 0px; right: 10px; box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 40px; border-radius: 6px 6px 0px 0px;"] {
    right: 300px !important;
}
/* 新增相关推荐 */
.softDownload .soft .softwarename {
    width: 600px;
    font-size: 31px;
    line-height: 42px;
    color: #9a9899;
    font-weight: 500;
    margin-left: 20px;
}
.softDownload .soft .softwarename h1 {
    margin-right: 10px;
    display: inline;
    margin-left: 0px;
}
.softDownload .soft{
    width: auto;
}
.softDownload .xgtj{
    margin-top: 35px;
}
.softDownload .xgtj span{
    font-size: 16px;
    color: #171717;
    margin-left: 130px;
}
.softDownload .xgtj ul li{
    float: left;
    margin-left: 20px;
}
.softDownload .xgtj ul li:nth-of-type(1){
    margin-left: 5px;
}
.softDownload .xgtj ul li a{
    font-size: 16px;
    color: #5f6368;
}
/* qq登录 */
.commentFooter .bottom span.qqdl{
    cursor: pointer;
    margin-left: 65px;
}
.commentFooter .bottom span.qqdl .commentIcons {
    width: 23px;
    height: 27px;
    display: inline-block;
    background-position: -121px -111px;
    margin-top: -5px;
    margin-right: 10px;
    vertical-align: middle;
    margin-left: -11px;
}
/* 软件介绍 */
.detailBox .explainBox p.displayNone span[style="font-weight: bold;"] {
    display: inline-block;
    font-weight: 500 !important;
    color: #5f6368 !important;
}
.explainBox center span {
    font-size: 19px !important;
    color: #5f6368 !important;
    font-weight: 500 !important;
}
/* 相关文章 */
#xgwz{
    background: #f8fafc;
    padding-top: 65px;
    padding-bottom: 40px;
}
#xgwz .title{
    font-size: 30px;
    color: #24292f;
    font-weight: 400;
    margin-left: 0px;
    padding: 0px;
}
#xgwz .articleList{
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#xgwz .articleList li{
    width: 586px;
    height: 139px;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    margin-top: 20px;
    transition: transform .3s ease-in-out,translateY .3s ease-in-out,box-shadow .3s ease-in-out;
}
#xgwz .articleList li a{
    display: block;
}
#xgwz .articleList li img{
    width: 145px;
    height: 100px;
    border-radius: 5px;
    margin: 20px 0px 0px 20px;
}
#xgwz .articleList li span.floatL{
    width: 280px;
    margin-left: 38px;
    margin-top: 23px;
}
#xgwz .articleList li span.floatL .articleTitle{
    font-size: 20px;
    color: #24292f;
    line-height: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#xgwz .articleList li span.floatL .articleTime{
    font-size: 16px;
    color: #aaaaaa;
    line-height: 24px;
    margin-top: 11px;
}
#xgwz .articleList li span.jt{
    display: block;
    width: 38px;
    height: 10px;
    background-position: -135px -5px;
    margin-top: 64px;
    margin-right: 32px;
}
#xgwz .articleList li:hover{
    box-shadow: 0 0 26px rgb(0 61 131 / 10%);
    transform: translateY(-5px);
}
#xgwz .articleList li:hover span.jt{
    background-position: -177px -5px;
}
#xgwz .articleList li:hover span.floatL .articleTitle{
    color: #3e8dff;
}
/* 新增下载器下载按钮  2022-09-15 */
.softDownload .soft .downLoad .down.Topdown{
    background: #00c252;
    margin-left: 15px;
}
.softDownload .soft .downLoad .down.Topdown:hover{
    background: #15d265;
}
.softDownload .soft .downLoad .down.Topdown p{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}
.softDownload .soft .downLoad .down.Topdown p span{
    display: block;
    font-size: 12px;
    font-weight: 400;
}
/* 新增二维码露出样式  2022-09-23 */
.softwarename .code {
    width: 24px;
    height: 24px;
    position: relative;
    opacity: 1 !important;
    margin-left: 10px;
}

.softwarename .code .erwm {
    width: auto;
    height: auto;
    border-radius: 0px;
    cursor: pointer;
}

.softwarename .code .bigerwm {
    display: none;
    position: absolute;
    top: 0;
    right: -130px;
    z-index: 2;
    width: 120px;
    height: 120px;
    padding: 10px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    box-sizing: border-box;
    box-shadow: 0px 4px 24px 0px rgb(0 0 0 / 12%);
    background: #fff;
}
/* 新增百度网盘按钮样式 */
.softDownload .soft .downLoad .down.bdwp {
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;
    text-align: center;
    width: 230px;
}

.softDownload .soft .downLoad .down.bdwp .icons {
    width: 25px;
    height: 20px;
    background-position: -472px -259px;
    margin-right: 5px;
    margin-top: -5px;
}
.softDownload .soft .downLoad .down.bdwp p{
    margin-top: -5px;
}
/* 阿拉丁落地页面按钮样式 */
.softDownload .soft .downLoad .alad.down{
    display: none;
    float: left;
}
.softDownload .soft .downLoad .ptgj.down{
    display: block;
    float: left;
}
/* 修改百度网盘按钮样式 */
.softDownload .soft .downLoad .down.bdwp.new p{
    margin-top: 5px;
}
.softDownload .soft .downLoad .down.bdwp.new{
    line-height: 22px;
}
/* 修改软件介绍内链样式  2023-05-17*/
#rjjs .explainBox p a.keyword_link {
    color: #0082ff !important;
    text-decoration: none !important;
}

/* 新增微软安全下载按钮样式 */
.softDownload .soft .downLoad .down.WRdown{
    width: 260px;
}
.softDownload .soft .downLoad .down.Topdown.WRdown p{
    text-align: center;
}

/* 新增底部浮层广告样式 */
.fcGg{
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0px;
    background: #0c0a08;
    z-index: 999;
    display: none;
}
.fcGg_content{
    max-width: 1920px;
    height: auto;
    display: block;
    position: relative;
    margin: 0 auto;
}
.fcGg_content  img{
    max-width: 1920px;
    display: block;
}
.fcGg .close {
    background: #000;
    font-size: 12px;
    color: #fff;
    padding: 5px 10px;
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
}
.fcGg .signage {
    font-size: 14px;
    color: #d0d0d0;
    background: #524b47;
    opacity: 0.8;
    padding: 4px 7px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.fcGg i{
    font-style: normal;
}
.fcAgain {
    position: fixed;
    left: 0px;
    bottom: 0px;
    cursor: pointer;
    display: none;
    z-index: 2;
}    
.fcAgain img {
    width: 50px;
    height: 50px;
    display: block;
}
.fcAgain .fcReplay {
    width: 50px;
    display: block;
    background: #999;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 16px;
}
.fcAgain .close {
    position: absolute;
    right: -25px;
    top: -30px;
    padding: 5px 10px;
    color: gray;
    cursor: pointer;
    font-size: 24px;
    opacity: 0.6;
}
.fcGg_doub {
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0px;
    z-index: 999;
    display: none;
    left: 0;
    background: #0c0a08;
}
.fcGg_doub .fcdownload {
    width: 220px;
    height: 65px;
    display: block;
    position: absolute;
    left: 50%;
    bottom: 56px;
    margin-left: -110px;
    cursor: pointer;
}

.fcGg_doub .close {
    background: #000;
    font-size: 12px;
    color: #fff;
    padding: 5px 10px;
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
}

.fcGg_doub .signage {
    font-size: 14px;
    color: #d0d0d0;
    background: #524b47;
    opacity: 0.8;
    padding: 4px 7px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
/* onebox卡片落地页面样式 */
.onlyLjxz.down{
    display: none;
    float: left;
}

/* 360安全下载按钮新增浮层 */
.hover360{
    position: relative;
    float: left;
  
}
.hover360 button.hover{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.fc360down{
    width: 720px;
    height: 225px;
    background: url("../image/down360fcbg.png") no-repeat;
    position: absolute;
    top: -110px;
    left: 0px;
    z-index: 1;
    border-radius: 80px 20px 0 0;
    display: none;   
    -webkit-animation-name: slideBottomReturn; 
    animation-name: slideBottomReturn;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.fc360down .fcContent{
    margin-left: 240px;
    margin-top: 30px;
}
.fc360down h2{
    width: 460px;
    font-size: 20px;
    color: #3c4248;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 12px;
}
.fc360down h2 span{
    color: #00c252;
}
.fc360down i.icons{
    width: 18px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: -5px;
}
.fc360down .hlrj{
    background-position: 0px -497px;
}
.fc360down .rjgx{
    background-position: -29px -497px;
}
.fc360down .gglj{
    background-position: -59px -497px;
}
.fc360down .AI1{
    background-position: -87px -497px;
}
.fc360down .AI2{
    background-position: -114px -497px;
}
.fc360down .AI3{
    background-position: -141px -497px;
}
.fc360down p{
    font-size: 14px;
    color: #767a7e;
    line-height: 35px;
}
.fc360down p span{
    font-size: 16px;
    color: #00c252;
    font-weight: bold;
    margin-right: 10px;
}
.fc360down p.end{
    font-size: 12px;
    color: #767a7e;
    line-height: 28px;
}
.fc360down p.end span{
    font-size: 12px;
    color: #00c252;
    font-weight: bold;
}

/* 修改立即下载按钮样式 */
.softDownload .soft .downLoad .down p{
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.softDownload .soft .downLoad .down p i{
    display: block;
    font-size: 12px;
    font-style: normal;
    line-height: 16px;
    width: 178px;
    margin-top: 3px;
}
.softDownload .soft .downLoad .down.deepseek{
    width: auto;
    height: auto;
    padding: 10px 30px;
    border-radius: 50px;
}

/* 后缀为360box页面样式 */
.softDownload .soft .downLoad .ptgj.down.onebox{
    display: none;
}